@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
:root{
    --yellow: #ffbb30;
    --black: #242424;
    --grey: #818181;
    --white: #ffffff;
}

body{
    background-color: var(--yellow);
    height: 100%;
    font-family: "Oswald", "sans-serif";
}
.imgloud {
    width: 6%;
    background: #1f1f1f;
    padding: 27px;
    border-radius: 100%;
}
.banner{
    background-color: var(--white);
    padding-bottom: 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}
.text-container{
    width: 60%;
    display: block;
    margin: 0 auto;
}
img{
    display: block;
    margin: 30px auto;
}
h1{
    font-size: 90px;
    text-align: center;
    color: var(--black);
}
p{
    color: var(--grey);
    text-align: center;
}